***************************************************************************
*
* Name:         INSTALL
*
* Purpose:      To describe how to use ChEMBL data with
*               SQLite engine.
*
* Date:         {{ release_date|date:"d/m/Y" }}
*
* Contact:      {{ contact }}
*
***************************************************************************
*
* DB Version    {{ release_version }}
* SQLite        {{ sqlite_ver }}
*
***************************************************************************

Instructions
------------

1. Simply invoke:

    $> sqlite3 {{ release_version }}.db
